@media screen and (max-width: 750px) {
    .get{
        &__title{
         text-align: center;
         }
         &__description{
            text-align: center;
        }
        &__btn{
            margin-top:50px;
        }
    }
}